div, form, input, select, p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}
h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    align-self: center;
}
h2 {
    margin: 0 0 0 8px;
}
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.left-part > h1,i{
    font-weight: bold;
    color: black;
}
.left-part, form {
    padding: 25px;
}
.left-part {
    text-align: center;
}
.fa-graduation-cap {
    font-size: 72px;
}
form {
    background: rgba(0, 0, 0, 0.7);
}
.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.info {
    display: flex;
    flex-direction: column;
}
input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}
input::placeholder {
    color: #eee;
}
option:focus {
    border: none;
}
option {
    background: black;
    border: none;
}
.checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}
.checkbox a {
    color: #26a9e0;
}
.checkbox a:hover {
    color: #85d6de;
}
.btn-item, button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #26a9e0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.btn-item {
    display: inline-block;
    margin: 20px 5px 0;
}
button {
    width: 100%;
}
button:hover, .btn-item:hover {
    background: #85d6de;
}
.fa-hand-point-left , .fa-hand-point-right{
    font-size: 45px;
    color: white;
}

.fa-hand-point-left:hover{
    color: red;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: all;
}
.fa-hand-point-right:hover{
    color: greenyellow;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: all;
}

.paginationMem{
    justify-content: right;
}

.table-wrapper{
    margin-top: 80px;
}
#reset-button{
    background-color: yellowgreen;
}
#btn-new{
    width: 100px;
    position: absolute;
    right: 5%;
    top: 16%;
    background-color: green;
}
.selected{
    background-color: cornflowerblue !important;
}

footer{
    margin-left: 0px !important;
}

.content-wrapper{
    margin-left: 0px !important;
}

#right-panel , #left-panel{
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.fa-plus-circle{
    font-size: 45px;
    color: white;
}

.fa-plus-circle:hover{
    color: dodgerblue;
    cursor: pointer;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: all;
}

#btn-add{
    background-color: green;
    width: 200px;
    align-self: flex-end;
    margin-right: 25px;
}

#dropDown{
    content: '';
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    position: absolute;
    top: 180px;
    margin-right: 120px;
    display: none;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

form{
    height: 600px;
    width: 600px;
}

/*Media Queries*/
@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
        height: calc(100% - 50px);
    }
    .left-part, form {
        flex: 1;
        height: auto;
    }
}
